html {
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    background-image:url("sprites/MenuBackground.png");
  }

  canvas{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .Title{
    font-family: Courier;
    font-size: 100px;
  }

  .Button{
    background-color: grey;
    color:goldenrod;
    width: 180px;
    height: 90px;
    font-family: Courier;
    font-size: 40px;
  }